[
    {
        "title": "title"
        "desc": "description",
        "thumb": "images/a.png",
        "exec": "games/a/a.exe"
    },
    {
        "title": "title"
        "desc": "description",
        "thumb": "images/b.png",
        "exec": "games/b/b.exe"
    }
]
